.subtitle {
  font-size: .9em;
  color: #666;
}

.readtime {
  text-align: right;
  color: #666;
}

/* Thanks to http://jsfiddle.net/Jaybles/YKFH5/3/ */
ul.tags {
    text-align: center;
    list-style: none;
}

ul.tags li {
    display: inline
}

ul.tags li:not(:last-child):after {
    content: ', ';
}

.highlight {
    position: relative;
}

.highlight-copy-btn {
    position: absolute;
    bottom: 7px;
    right: 7px;
    border: 0;
    border-radius: 4px;
    padding: 1px;
    font-size: 0.7em;
    line-height: 1.8;
    color: #fff;
    background-color: #777;
    min-width: 55px;
    text-align: center;
}
.highlight-copy-btn:hover {
    background-color: #666;
}

table {
  border: none;
  border-spacing: 0;
  width: 100%;
}

.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* NEW: Make masthead (sidebar) narrower */
.masthead {
  width: 200px !important;
  padding: 20px 30px 20px 10px !important;
}

/* NEW: Adjust main content to use more space */
.main {
  width: 760px !important;
  margin-left: 200px !important;
  padding: 32px 10px 20px 30px !important;
}

/* NEW: Adjust body width to accommodate narrower sidebar */
body {
  width: 960px !important;
}