{{ if .Section}}
<nav class="post-nav">
    <span class="nav-prev">{{ with .PrevInSection }}&larr;
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ end }}</span>
  <span class="nav-next">{{ with .NextInSection }}
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    &rarr;{{ end }}</span>
</nav>

<script type="text/javascript">
  document.addEventListener('keyup', function (e) {
      if (e.target.nodeName.toUpperCase() != 'BODY') return;
      var url = false;
      if (e.which == 37) {  // Left arrow
          {{ if .PrevInSection }}
          url = '{{ .PrevInSection.RelPermalink }}';
          {{ end }}
      } else if (e.which == 39) {  // Right arrow
          {{ if .NextInSection }}
          url = '{{ .NextInSection.RelPermalink }}';
          {{ end }}
      }
      if (url) window.location = url;
  });
</script>
{{ end }}

{{ range .Site.Params.customJS }}
<script async src="{{ . | relURL }}"></script>
{{ end }}

{{ if and (not .Params.disable_mathjax) (or (in (string .Content) "\\") (in (string .Content) "$")) }}
<script src="{{ "/js/math-code.js" | relURL }}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [['$','$'], ['\\(','\\)']],
      displayMath: [['$$','$$']],
      processEscapes: true,
      processEnvironments: true,
      skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
      TeX: { equationNumbers: { autoNumber: "AMS" },
           extensions: ["AMSmath.js", "AMSsymbols.js"] }
    }
    });
    MathJax.Hub.Queue(function() {
      var all = MathJax.Hub.getAllJax(), i;
      for(i = 0; i < all.length; i += 1) {
          all[i].SourceElement().parentNode.className += ' has-jax';
      }
    });

    MathJax.Hub.Config({
    TeX: { equationNumbers: { autoNumber: "AMS" } }
    });
</script>
{{ end }}

{{ if .File }} {{ if .Path }}
  {{ $Rmd := (print .File.BaseFileName ".Rmd") }}

{{ if (where (readDir (print "content/" .File.Dir)) "Name" $Rmd) }}
  {{ $.Scratch.Set "FilePath" (print .File.Dir $Rmd) }}
{{ else }}
  {{ $.Scratch.Set "FilePath" .File.Path }}
{{ end }}

<p align="right">
  {{ with .Site.Params.GithubView}}
  <a href='{{ . }}{{ $.Scratch.Get "FilePath" }}'>View source</a> {{ end }} | {{
  with .Site.Params.GithubEdit}}
  <a href='{{ . }}{{ $.Scratch.Get "FilePath" }}'>Edit source</a> {{ end }}
</p>
{{ end }} {{ end }}

{{/* forcefully adding a horizontal line using html; not sure why it disappears on using utterances */}}
{{/*
{{ if .Params.use_footer_line}}
<hr>
{{ end }}
*/}}

<script src="https://kit.fontawesome.com/72f03cd715.js" crossorigin="anonymous"></script>

{{ if eq .Kind "page" }} {{ if not .Params.disable_comments}}
<script
  src="https://utteranc.es/client.js"
  repo="s0ap/s0ap.github.io"
  issue-term="title"
  label="comment"
  theme="github-light"
  crossorigin="anonymous"
  async
></script>

{{ end }}{{ end }}
