<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="{{ "/css/custom.css" | relURL }}" />
<link disabled id="dark-mode-theme" rel="stylesheet" href="/css/dark.css">

<a id="dark-mode-toggle" class="fas fa-moon" style="float: right; margin: 5px; border-bottom: none; display: inline;"></a>
{{ $siteUrl := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $.Scratch.Add "sitePath" .Site.BaseURL }}

{{ $.Scratch.Add "siteBreadcrumbs" (slice (dict "url" .Site.BaseURL "name" "home" "position" 1 )) }}
{{ range $index, $element := split $siteUrl "/" }}
{{ $.Scratch.Add "sitePath" $element }}
{{ $.Scratch.Add "sitePath" "/" }}
{{ if ne $element "" }}
{{ $.Scratch.Add "siteBreadcrumbs" (slice (dict "url" ($.Scratch.Get "sitePath") "name" . "position" (add $index 2))) }}
{{ end }}

{{ end }}

<nav class="breadcrumbs">
    {{ range $.Scratch.Get "siteBreadcrumbs" }}
        <a href="{{ .url }}">{{ .name }} > </a>
    {{ end }}
</nav>

{{ if not .Params.disable_scroll_indicator }}
  {{ partial "readprogress_indicator.html" . }}
{{ end }}
