{{ partial "header.html" . }}

<p>
    The page at
    <code>
    <script>
      document.write(location.href);
    </script>
  </code> was not found. Feeling confused? Please go ahead and send me an
    <a href="mailto: vishadbhalodia@gmail.com">email</a> to notify me. It will be great if you could tell me the URL of the page and where/how you got this URL. Thanks!
</p>

<p align="center">
    {{ with .Site.Params.customError}}
    <img src="{{ . | relURL }}" alt="404 not found" /> {{ end }}
</p>

{{ partial "footer.html" . }}